{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h2 class='text-center'>Привет мир, я Сева.</h2>
  </p>Рассказывать особо пока нечего и не к месту. 
    Могу лишь поделиться своими наблюдениями касательно спринта и в частности проблемами, с которыми сталкиваюсь. 
    <br>Пусть данный рассказ о себе послужит дополнительной заметкой. Все равно это вряд ли кто-то прочитает :D
  </p>
  <p> 
    Вот мой список тем, что необхоидмо дополнительно изучить и еще раз прочитать:
  </p>
    <li class="list-group-item"> 
      <b>Дераторы:</b> Вроде бы понятно, но было очень много проблем с написанием функций. 
      Увы, еще не до конца уложилось в голове.
    </li> 
    <li class="list-group-item">
      <b>Формы и модели:</b> Такая же история. 
      Наследование моделей и форм от родителей казалось бы понятны, но требуют дополнительного повторения.
    </li>
    <li class="list-group-item"> 
      <b>Вёрстка:</b> Она, вроде бы, и не наша тема, но на некоторые элементы я порядком убил времени.
        Виной был неправильный запрос в гугл.
      <br>Иногда решение куда проще (если говорить от этом спринте)
    </li>  
    <p> 
    </p> 
    <p class='text-center'> 
      Ну и пусть будет картинка рабочего стола, как предложили в задании. Так, просто попрактиковаться с <i>img.</i> 
    </p>
    <center><img src="{% static 'img/workplace.png' %}" type="image"></center>
</div>
{% endblock %} 

