{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Оставлю это все до лучших времен. Кто знает, надеюсь потом можно будет гордиться в будущем, когда вернусь к своей первой работе и добавлю сюда очень много всего :pray:</p>
  </article>
</div>
{% endblock %} 